.preview {
  border-radius: 5px;
  overflow: hidden;
  font-size: 0;
  flex: 1;
  position: relative;
  user-select: none !important;
  background: var(--color-bg-dark);

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    transform-origin: top left;
    cursor: grab;

    background: white
      url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARzQklUCAgICHwIZIgAAAAxSURBVDhPY2RgYBABYnzgDT5JxlEDGIZJGBBIBvjTCSgMCAG8CW3UAAZwQiIEaBuIACBfCLFwf0bOAAAAAElFTkSuQmCC')
      center center;

    &:active {
      cursor: grabbing;
    }
  }
}
